/* * {
  box-sizing: border-box;
} */

body {
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #313638;
  /* background-color: #313638; */
}

@media only screen and (min-width: 768px) {
  .container {
    margin: auto;
    max-width: 1024px;
  
}

.todo-wrapper {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: #DBDBDB solid 2px;
}

header {
  background-color: #BFC0C0;
  color: #2D3142;
  text-transform: uppercase;
}

.todo-title{
  font-weight: 600;
}

#main {
  display: flex;
  min-height: calc(100vh - 5vh);
}

#main > .todo-content {
  flex: 1;
}
#main > .side-bar {
  flex: 0 0 15vw;

}

#main > .side-bar {
  order: -1;
}

header,
.todo-content,
.side-bar {
  padding: 1em;
}


.divider {
  border: #383b5c solid 0.5px;
  border-radius: 10px;
  width: 100%;
}

.side-bar {
  background-color: #2D3142;
  font-size: large;
}

.side-bar-btn {
  padding: 10px;
  width:100%;
  border: none;
  border-radius: 5px;
  color:white;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 5px 5px 0;
  cursor: pointer;
  opacity: 0.9;
  
}

.task-button{
  width: auto;
}
.main-color {
  background-color: #4F5D75;
}

.secondary-color {
  background-color: #EF8354;
}

.accent-color {
  background-color: #ecae52;
}

.side-bar-field {
  display: flex;
  width: 100%;
}

.side-bar-input {
  flex-grow: 1;
  padding: 10px 8px 10px 8px;
  color: #313638;
  width: 50%;
  border-radius: 5px;
  border: none;
  margin: 5px 5px 5px 0;
  cursor:text;

}

.new-group-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  border: none;
  background-color: #4F5D75;
  font-weight: 400;
  color: #FFFFFF;
  font-size: larger;
  text-transform: uppercase;
  margin: 5px 0 5px 0;
  cursor: pointer;
  opacity: 0.9;
}

.group-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.group-item {
  display: flex;
  flex-direction: row;
  padding: 5px 0 5px 0;
  text-align: center;
}
.todo-content {
  background-color:#FFFFFF

}

.todo-header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  font-size: x-large;
  font-weight: 800;
  color: #313638;
  text-transform: uppercase;
}

.todo-list-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #313638;
  padding: 10px 10px 10px 20px;
  margin: 10px 10px 30px 10px;
  font-weight: 600;
  text-transform: uppercase;

}

.todo-item {
  display: flex;
  flex-direction: column;
}

.todo-item-display {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 10px 10px 10px 20px;
  margin: 10px;

}

.todo-item-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.todo-item-high {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  background-color: rgb(243, 145, 145);
  border-radius: 15px;
}

.todo-item-medium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  background-color: rgb(243, 223, 135);
  border-radius: 15px;
}


.todo-item-low {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  background-color: rgb(209, 247, 153);
  border-radius: 15px;
}

.todo-item-complete{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  text-decoration: line-through;
  background-color: grey;
  border-radius: 15px;
  opacity: 0.5;
}

.todo-item-description{
  padding: 10px 10px 20px 25px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  background-color: #4F5D75;
  font-weight: 400;
  color: white;
  font-size: larger;
  text-transform: uppercase;
  margin: 5px 0 5px 0;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 25px;
  width: 180px;
  opacity: 0.9;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 225px;
  right: 5px;
  z-index: 9;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: #DBDBDB solid 2px;
}

/* Add styles to the form container */
.add-task-form {
  max-width: 400px;
  padding: 10px;
  background-color: white;
  font-weight: 600;
}

.radio-buttons{
  font-weight: 300;
}

/* Full-width input fields */
.add-task-form input[type="text"] {
  width: 100%;
  padding: 15px 0px 15px 0px;
  margin: 5px 0 22px 0;
  border: none;
  background: #e8e9eb;
  color: #313638;
}

.add-task-form input[type="date"] {
  width: 100%;
  padding: 15px 0px 15px 0px;
  margin: 5px 0 22px 0;
  border: none;
  background: #e8e9eb;
  color: #313638;
}

.add-task-form input[type="radio"] {
  padding: 15px 0px 15px 0px;
  margin: 5px 0 22px 0;
  border: none;
  background: #e8e9eb;
  color: #313638;
}

.select-wrapper{
  display: flex;
  flex-direction: column;
}

.select-box{
  padding: 15px 0px 15px 0px;
  margin: 5px 0 22px 0;
  border: none;
  background: #e8e9eb;
  color: #4F5D75;

}
.add-task-form .button {
  background-color: #f06543;
  color: #4F5D75;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  position: fixed;
  bottom: 23px;
  right: 23px;
  width: 180px;
}

.add-task-form .button:hover,
.open-button:hover,
.close-button:hover, .new-group-btn:hover, .side-bar-btn:hover {
  opacity: 1;
}
